[Desktop Entry]
Name=fusuma for Develop
Comment=run fusuma
Exec=bash -c "cd /home/iberianpig/.ghq/github.com/iberianpig/fusuma && BUNDLE_GEMFILE=Gemfile.local /home/iberianpig/.rbenv/shims/bundle exec fusuma --log /tmp/fusuma.log"
Icon=input-touchpad
X-GNOME-Autostart-enabled=false
Type=Application
