[Desktop Entry]
Name=fusuma for Develop
Comment=run fusuma
Exec=/home/iberianpig/fusuma_dev/run.sh
Icon=input-touchpad
X-GNOME-Autostart-enabled=true
Type=Application
