[Desktop Entry]
Name=fusuma(system ruby)
Comment=run fusuma
Exec=fusuma -d  --log=/tmp/fusuma.log --verbose
Icon=input-touchpad
X-GNOME-Autostart-enabled=false
Type=Application
Name[ja]=fusuma
