[Desktop Entry]
Name=AppCenter
Name[ak]=AppCenter
Name[ast]=AppCenter
Name[az]=ProqramMərkəzi
Name[bg]=Център за приложения
Name[ca]=Centre d'aplicacions
Name[ckb]=ناوەندی نەرمەواڵەکان
Name[cs]=AppCentrum
Name[de]=AppCenter
Name[el]=Κέντρο εφαρμογών
Name[en_CA]=AppCentre
Name[en_GB]=AppCentre
Name[es]=AppCenter
Name[et]=Tarkvarakeskus
Name[fi]=Sovelluskeskus
Name[fr]=Centre d'Applications
Name[he]=AppCenter
Name[hr]=Centar aplikacija
Name[it]=Centro applicazioni
Name[ja]=AppCenter
Name[ko]=앱센터
Name[ku]=dikanê bername
Name[lt]=Programų centras
Name[my]=Appစင်တာ
Name[nb]=AppCenter
Name[nl]=Applicatie centrum
Name[pl]=Centrum programów
Name[pt]=AppCenter
Name[pt_BR]=Central de aplicativos
Name[ro]=AppCenter
Name[ru]=AppCenter
Name[sk]=AppCenter
Name[sl]=Center za programsko opremo
Name[sr]=Програмски центар
Name[sv]=Programcentral
Name[th]=ศูนย์รวมแอพ
Name[tl]=AppCenter
Name[tr]=Uygulama Merkezi
Name[ug]=ئەپ مەركىزى
Name[uk]=Центр програм
Name[ur]=ایپ مرکز
Name[zh_CN]=应用中心
Name[zh_TW]=AppCenter
Comment=Browse and manage apps
Comment[ak]=Hwehwɛ dwumadie a wopɛ.
Comment[ast]=Esquizar y alministrar aplicaciones
Comment[az]=Proqramları gözdən keçir və idarə et
Comment[bg]=Разглеждане и управляване на програми
Comment[ca]=Navegueu i gestioneu les aplicacions
Comment[ckb]=گەڕان و بەڕێوەبردنی نەرمەواڵەکان
Comment[cs]=Prohlížení a správa aplikací
Comment[de]=Anwendungen durchsuchen und verwalten
Comment[el]=Περιήγηση και διαχείριση εφαρμογών
Comment[en_CA]=Browse and manage apps
Comment[en_GB]=Browse and manage apps
Comment[es]=Explore y gestione sus aplicaciones
Comment[et]=Rakenduste sirvimine ja haldamine
Comment[fi]=Selaa ja hallitse sovelluksia
Comment[fr]=Parcourir et gérer les applications
Comment[he]=עיון ביישומים וניהולם
Comment[hr]=Pregledavajte i upravljajte aplikacijama
Comment[it]=Sfoglia e gestisci le applicazioni
Comment[ja]=アプリケーションの表示、管理をします
Comment[ko]=앱 검색과 관리
Comment[ku]=bername lê begerrîn û bi rê ve birin
Comment[lt]=Naršyti ir tvarkyti programas
Comment[my]=App များကို ရှာဖွေ စုစည်းရန်
Comment[nb]=Bla gjennom og administrere applikasjoner
Comment[nl]=Doorzoek en beheer applicaties
Comment[pl]=Przeglądaj i zarządzaj programami
Comment[pt]=Procurar e gerir apps
Comment[pt_BR]=Navegue e gerencie aplicativos
Comment[ro]=Navighează şi administrează aplicaţiile
Comment[ru]=Просмотр и управление приложениями
Comment[sk]=Prehľadávať aplikácie
Comment[sl]=Iskanje in upravljanje s programi
Comment[sq]=Shfleto dhe menaxho programet
Comment[sr]=Разгледајте и управљајте програмима
Comment[sv]=Bläddra och hantera program
Comment[tl]=Mag-browse at mag-manage ng mga app
Comment[tr]=Gözat ve uygulamaları yönet
Comment[ug]=ئەپلەرنى كۆرۈش ۋە باشقۇرۇش
Comment[uk]=Керування застосунками
Comment[zh_CN]=浏览和管理应用程序
Comment[zh_TW]=瀏覽和管理軟體
Exec=appcenter %U
Icon=system-software-install
Keywords=install;uninstall;remove;catalogue;store;apps;updates;software;
Keywords[ak]=install;uninstall;remove;catalogue;store;apps;updates;software;
Keywords[ast]=Instalar;desinstalar;esaniciar;catálogu;tienda;aplicaciones;actualizaciones;software;
Keywords[az]=quraşdır;qaldır;sil;kataloq;mağaza;tətbiqlər;yeniliklər;proqram təminatı;
Keywords[bg]=инсталиране;деинсталиране;премахване;каталог;магазин;приложения;програми;обновления;
Keywords[ca]=instal·la;desinstal·la;elimina;catàleg;botiga;aplicacions;actualitzacions;programari;
Keywords[ckb]=;دامەزراندن;دامەزرێنسڕینەوە;سڕینەوە;ڕێبەر;کۆگا;نەرمەواڵەکان;بەڕۆژکردنەکان;نەرمەکاڵاکان
Keywords[cs]=instalovat;odinstalovat;odstranit;katalog;obchod;aplikace;aktualizace;software;
Keywords[de]=installieren;deinstallieren;entfernen;auflisten;speichern;Apps;Aktualisierungen;Software;
Keywords[el]=εγκατάσταση;απεγκατάσταση;αφαίρεση;κατάλογος;κατάστημα;εφαρμογές;ενημερώσεις;λογισμικό;
Keywords[en_CA]=install;uninstall;remove;catalogue;store;apps;updates;software;
Keywords[en_GB]=install;uninstall;remove;catalogue;store;apps;updates;software;
Keywords[es]=instalar;desinstalar;quitar;catálogo;tienda;aplicaciones;actualizaciones;software;
Keywords[et]=install;uninstall;remove;catalogue;store;apps;updates;software;paigalda;paigaldamine;eemalda;kataloog;pood;rakendus;uuenda;tarkvara;
Keywords[fi]=install;uninstall;remove;catalogue;store;apps;updates;software;asenna;poista;katalogi;kauppa;sovellukset;päivitykset;ohjelmistot;
Keywords[fr]=installer;désinstaller;supprimer;catalogue;store;magasin;boutique;logithèque;applications;applis;mises;jour;logiciel;programme;
Keywords[he]=install;uninstall;remove;catalogue;store;apps;updates;software;תכנה;התקנה;קטלוג;עדכון;עדכונים;הסרה;יישומים;יישום;חנות;
Keywords[hr]=instaliraj;deninstaliraj;ukloni;katalog;trgovina;aplikacije;nadopune;softver;
Keywords[it]=installa;disinstalla;rimuovi;catalogo;negozio;applicazioni;aggiornamenti;programmi;
Keywords[ja]=install;uninstall;remove;catalogue;store;apps;updates;software;
Keywords[ko]=설치;제거;제거;카타로그;스토어;앱스;업데이트;소프트웨어;
Keywords[ku]=ava bikê;ava-rakin;rakirin;katalog;dikan;apps;rojane;bernameyên;
Keywords[lt]=įdiegti;idiegti;šalinti;salinti;pašalinti;pasalinti;katalogas;parduotuvė;parduotuve;programos;atnaujinimai;naujinimai;programinė įranga;programine iranga;
Keywords[my]=တပ်ဆင်;ဖယ်ထုတ်;ဖယ်ရှား;အမျိုးအစား;စတိုး;apps;မြှင့်တင်မွမ်းမံမှုများ;ဆော့ဖ်ဝဲ;
Keywords[nl]=installeren;installeren ongedaan maken;verwijderen;catalogus;winkel;applicaties;updates;software;
Keywords[pl]=instaluj;odinstaluj;usuń;katalog;sklep;programy;aktualizacje;oprogramowanie;
Keywords[pt]=instalar;desinstalar;remover;catalogar;armazenar;apps;atualizações;software;
Keywords[pt_BR]=instalar;desinstalar;remover;catálogo;loja;apps;atualizações;software;
Keywords[ro]=instalează;dezinstalează;şterge;cataloghează;magazin;aplicaţii;actualizări;software;
Keywords[ru]=установить;удалить;каталог;магазин;приложения;обновления;программы;
Keywords[sk]=inštalovať;odinštalovať;odstrániť;katalóg;obchod;aplikácie;aktualizácie,softvér;
Keywords[sl]=namesti;odstrani;instaliraj;inštaliraj;install;uninstall;katalog;trgovina;app;apps;aplikacije;posodobitve;update;software;programi;
Keywords[sr]=инсталирај;дизинсталирај;уклони;збирка;радња;програми;освежавања;софтвер;
Keywords[sv]=installera;avinstallera;ta bort;katalog;butik;program;uppdateringar;program;
Keywords[th]=ติดตั้ง;ถอดถอน;เอาออก;แคตตาล็อก;ร้าน;แอพ;อัปเดต;ซอฟต์แวร์;
Keywords[tl]=install;uninstall;remove;catalogue;store;apps;updates;software;app;
Keywords[tr]=yükle;kaldır;sil;katalog;mağaza;uygulamalar;güncellemeler;yazılım;
Keywords[ug]=ئورنىتىش؛ يۇيۇش؛ ئۆچۈرۈش؛ تۈرگە ئايرىش؛ ساقلاش؛ ئەپلەر؛ يىڭىلاش؛ يۇمشاق دىتاللار؛
Keywords[uk]=встановити;видалити;видалити;каталог;магазин;додатки;оновлення;програми;
Keywords[ur]=نصب کرنا;ناتنصیب;ہٹانا;ھٹانا؛انسٹال؛ان انسٹال؛کیٹالاگ؛فہرست;سٹور؛ایپلی کیشن;ایپ؛اپڈیٹ؛تجدید;سافٹ ویئر
Keywords[zh_CN]=安装;卸载;移除;分类;商店;应用;更新;软件;
Keywords[zh_TW]=install;uninstall;remove;catalogue;store;apps;updates;software;安裝;解除安裝;反安裝;移除;型錄;目錄;商店;程式;軟體;更新;升級;
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;System;PackageManager;
MimeType=x-scheme-handler/appstream;
Actions=AboutDialog;
X-GNOME-UsesNotifications=true
X-GNOME-Autostart-enabled=false

[Desktop Action AboutDialog]
Name=About AppCenter
Name[ak]=AppCenter Ho Nsɛm
Name[ast]=Alrodiu d'AppCenter
Name[az]=ProqramMərkəzi haqqında
Name[bg]=Относно
Name[ca]=Quant al Centre d'aplicacions
Name[ckb]=دەربارەی ناوەندی نەرمەواڵەکان
Name[cs]=O aplikaci AppCentrum
Name[de]=Info zu AppCenter
Name[el]=Σχετικά με το Κέντρο εφαρμογών
Name[en_CA]=About AppCentre
Name[en_GB]=About AppCentre
Name[es]=Acerca de AppCenter
Name[et]=Rakendusest...
Name[fi]=Tietoja - Sovelluskeskus
Name[fr]=À propos du Centre d'Applications
Name[he]=על אודות AppCenter
Name[hr]=O Centru aplikacija
Name[it]=Informazioni
Name[ja]=AppCenter について
Name[ko]=앱센터 소개
Name[ku]=Derbare dikanê bername
Name[lt]=Apie Programų centrą
Name[my]=App စင်တာ အကြောင်း
Name[nb]=Om AppCenter
Name[nl]=Over applicatie centrum
Name[pl]=O centrum programów
Name[pt]=Sobre o AppCenter
Name[pt_BR]=Sobre central de aplicativos
Name[ro]=Despre AppCentre
Name[ru]=О программе
Name[sk]=O AppCenter
Name[sl]=O centru za programsko opremo
Name[sr]=О Програмском центру
Name[sv]=Om Programcentral
Name[th]=เกี่ยวกับ ศูนย์รวมแอพ
Name[tl]=Tungkol sa AppCenter
Name[tr]=Uygulama Merkezi Hakkında
Name[ug]=ئەپ مەركىزى ھەققىدە
Name[uk]=Про Центр програм
Name[ur]=ایپ مرکز کے متعلق
Name[zh_CN]=关于 应用中心
Name[zh_TW]=關於 AppCenter
Exec=appcenter --about
